{% extends "front.twig" %}
{% block css %}
    {{ parent() }}
    <link href="/public/js/slider/jquery.bxslider.css" rel="stylesheet" />
    <link href="/public/js/lightbox/css/lightbox.css" rel="stylesheet" />
{% endblock %}
{% block header %}
    <div id="slideshow">
        <ul class="bxslider">
            {% for jumbotron in jumbotrons %}
                <li><img src="{{ jumbotron.data }}" /></li>
            {% endfor %}
        </ul>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/public/">Restaurant Example</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li><a href="#">La Carte</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nos Menus <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for menu in menus %}
                                <li><a href="#">{{ menu.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock header %}
{% block body %}
    {#<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5247.549823302913!2d2.189735355288139!3d48.8815673518409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e663602d3d4683%3A0xcd58273b51e9e9d4!2s9+Rue+Jules+Parent!5e0!3m2!1sfr!2sfr!4v1399419738140" width="1280" height="720" frameborder="0" style="border:0"></iframe>#}
    <div class="jumbotron">
        <div class="container">
            <h1>Bienvenue,</h1>
            <p>Le restaurant example vous accueil pour venir passer un bon moment et vous faire apprécier un excellent repas !</p>
        </div>
    </div>
<div class="center">
    <div class="container menus">
        {#<h2>Venez découvrir notre carte et nos menus ...</h2>#}
        <div class="row">
            <div class="col-md-3">
                <div class="caption">
                    <h3>La Carte</h3>
                    <p>Découvrez en détails tous nos articles</p>
                    <a href="#" class="btn btn-primary" role="button">Découvrir</a>
                </div>
            </div>
            {% for menu in menus %}
                <div class="col-md-3">
                    <div class="caption">
                        <h3>{{ menu.name }}</h3>
                        <p>{{ menu.description }}</p>
                        <a href="#" class="btn btn-primary" role="button">Découvrir</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container recommandations">
            <h2>Laissez vous guider par les recommandations du chef !</h2>
            {% for recommandation in recommandations %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a data-lightbox="recommandations" data-title="{{ recommandation.plat.name }}" href="{{ recommandation.plat.image }}"><img alt="{{ recommandation.plat.name }}" src="{{ recommandation.plat.image }}"></a>
                        <div class="caption">
                            <h3>{{ recommandation.plat.name }}</h3>
                            <p>{{ recommandation.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
    {% block javascript %}
    {{ parent() }}
    <script src="/public/js/jquery-1.11.1.min.js"></script>
    <script src="/public/js/slider/jquery.bxslider.min.js"></script>
    <script src="/public/js/lightbox/js/lightbox.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                auto: true,
                mode: 'fade',
                controls: false,
                pager: false
            });
        });
    </script>
{% endblock %}